@tailwind base;
@tailwind components;
@tailwind utilities;

/* Background gradien bergerak */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradientMove {
  background-size: 600% 600%;
  animation: gradientMove 20s ease infinite;
}

/* Wave multi-layer */
@keyframes wave {
  0% { transform: translateX(0); }
  50% { transform: translateX(-25%); }
  100% { transform: translateX(0); }
}

.animate-wave-slow {
  animation: wave 30s ease-in-out infinite;
}

.animate-wave-mid {
  animation: wave 20s ease-in-out infinite;
}

.animate-wave-fast {
  animation: wave 10s ease-in-out infinite;
}
